html{
  font-size: 54.6875%;
}

@font-face {
  font-family: "Ubuntu Mono Web";
  src: url("UbuntuMono-R.ttf");
}
.markdown-section *{
  font-family: "Ubuntu Mono Web" !important;
}

.markdown-section table{
  width: auto;
}

.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6{
  font-size: 18px;
}